body {
  	background-color: white;
  	/* background-position: center top; */
  	background-repeat: no-repeat;
  	background-size: cover;
   	background-attachment: fixed;
	background-image: url(../img/churchbw.jpg);
	background-position: center;
}

h1 {
	color: white;
	/*font-family: ;*/
	font-size: 250px;
	font-size-adjust: auto;
}

h2 {
	color: white;
	/*font-family: ;*/
}

p{
	/*font-family: ;*/
	color: white;
	font-size: 20px;
	font-size-adjust: auto;
}

nav{
	background-color: rgba(0,0,0,0.70);
	/*font-family: ;*/
}

nav ul li{
  float: none;
  display: inline-block;
}

nav ul li a{
  color: white;
}

.navbar-nav .nav-link:focus, .navbar-nav .nav-link:hover{
	color: red;
}

.active{
	font-weight:bold;
	color: red;
}

.container {
  	width: auto;
  	max-width: 680px;
  	padding: 0 15px;
}

.footer {
  	position: absolute;
  	bottom: 0;
  	width: 100%;
  	height: 60px;
  	line-height: 60px;
  	background-color: rgba(0,0,0,0.70);
	color: white;
}