@charset "utf-8";
/* CSS Document */

nav{
	background-color: rgba(0,0,0,0.90);
}

.navbar-top{
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
    max-width: inherit;
    z-index: 1030;
}

.navbar-brand{
	color: white;
}

.navbar-brand:hover{
	color:red;
}

nav ul li{
  float: none;
  display: inline-block;
}

nav ul li a{
  color: white;
}

.navbar-nav .nav-link:hover{
	color: red;
}

.active{
	font-weight:bold;
	color: red;
}

.fixed-top {
    position: fixed;
    top: 5rem;
    max-width: inherit;
	padding-right: 3rem;
	left: 3rem;
    z-index: 1030;
}

.container {
  	width: auto;
  	max-width: 680px;
  	padding: 0 15px;
}

.footer {
  	position: relative;
  	bottom: 0;
  	width: 100%;
  	height: 60px;
  	line-height: 60px;
  	background-color: rgba(0,0,0,0.70);
	color: white;
}